body{
    margin: 0px;
}

.header {
    display: flex;
    align-items: center; 
    padding: 20px 5px;
    border: 1px solid black;
}

.logo-container {
    width: 50px;
}

.nav-items {
    flex: 1;
}

.nav-items ul {
    font-size: large;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

.res-card{
    width: 200px;
    margin: 16px;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.887);
    img{
        display: block;
        margin: auto;
        width: 140px;
        margin-top: 0.5rem;
    }

    
    
}

.res-card:hover{
    cursor: pointer;
    img{
        width: 120px;
    }
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    height: 400px;
    width: 200px;
    margin: 1rem;
    background-color: rgb(239, 239, 239);
}

.login-btn, .search-btn{
    padding: 0.25rem 0.5rem;
}
.filter{
    display: flex;
}
.search{
    display: flex;
    margin-right: 0.5rem;
}